@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(0deg, rgba(182, 34, 195, 1) 0%, rgba(15, 227, 249, 1) 50%);
}