.weekDays {
    display: flex;
    background-color: white;
    border-radius: 8px;
    height: 4rem;
    align-items: center;
    padding: 1rem;
    justify-content: center;
}

.yearLabel {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    font-size: 30px;
    padding: 3rem 0 3rem 0;
}