button {
    cursor: pointer;
    background-color: rgba(238, 116, 59, 0.8);
    border-color: rgb(0, 0, 0);
    box-shadow: 1px 2px;
    padding: 8px 15px;
    border-style: none;
    border-radius: 8px;
    text-align: center;
    font-size: 16px;
}

button:hover {
    background-color: rgba(238, 116, 59, 1);
}