header {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  background: rgba(204, 227, 230, 1);
  width: 100%;
  padding: 0 5%;
  align-items: center;
}

header button {
  margin-left: 10px;
}
