.main {
    border-radius: 10px;
    border: 1px solid;
    background-color: rgba(204, 227, 230, 1);
    padding: 10px;
    color: rgba(15, 69, 77, 1);
    margin: 5px;
    border-color: rgba(41, 185, 204, 01);
    box-shadow: 1px 1px;
}

.main:hover {
    background-color: rgba(41, 185, 204, 0.5);
}