.formLabel {
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.formLabel label {
  font-size: 1.5rem;
}
.main {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}
