.main {
  width: 33%;
  max-width: 33%;
  height: 100%;
  margin: 15px ;
  padding: 10px;
  background-color: white;
  border-radius: 8px;
  border: 1px solid;
  border-color: rgba(204, 227, 230, 0.6);
}